*{
    margin: 0px;
    padding: 0px;
}

.nav-bar{
    height: 100px;
    background-color: lightcoral;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-section{
    height: 26vh;
    font-size: 5rem;
    /* margin-left: 0px; */
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid tomato;
}
.about-us{
    height: 26vh;
    font-size: 5rem;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid tomato;
}
.contact-us{
    height: 26vh;
    font-size: 5rem;
    /* margin-left: 0px; */
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid tomato;

}
.footer{
    height: 105px;
    background-color: lightcoral;
    display: flex;
    align-items: center;
    justify-content: center;
}